/* Header */
header {
  background-color: #59ff77;
  color: #000000;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

/* Main content area */
main {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
